.btn-main{
    background-color:rgba(9, 16, 37, 0.7);
    border: 1px solid #FFFFFF;
    min-width: 200px;
    padding: 15px;
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    @include bp-small{
       display: block;
      margin: 10px auto;
    }
    &:hover{
        background-color:rgba(9, 16, 37, 0.7);
        border-color: rgba(255, 255, 255, 0.5);
        color: $white;
        text-decoration: none;
    }
    &:before{
       position: absolute;
        height: 100%;
        font-size: 125%;
        line-height: 3.5;
        color: #fff;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        left: 70%;
        opacity: 0;
        top: -2.5px; 
    }
    &:hover:before {
        left: 85%;
        opacity: 1;
    }
    span{
     	font-family: Arial, Helvetica;
        letter-spacing: 1px;
    }
}

.link-basic{
    &:hover{
        color: $acento;
    }
}

.social-icon{
  float: left;
  height: 20px;
  padding-left: 10%;
}
.close{
    color: $white;
    opacity: 1;
}






#btn-logout{
   background: $acento;
   font-size: 12px;
   border: 0;
   border-radius: 3px;
   font-weight: bold;
   text-transform: uppercase;
   position: absolute;
   left: 100px;
   bottom: 0px;
   z-index: 55;
   @include bp-small {
    font-size: 10px;
   }
}


.button-share{
  text-align: center;
  .btn-main{
    height: 50px;
    padding: 5px 15px;
    line-height: 35px;
  }
  .social-icon{
    margin-top: 7px;
    padding-right: 10px;
  }
}